
    <mat-stepper [linear]="isLinear" #stepper>
        <mat-step>
            <div class="content text-center">
                <h1 class="fw-bold">Welcome!</h1>
                <p class="text-muted">
                    We're glad you're here. Please fill out this form with your information so we can
                    better care for you.
                </p>
                <button class="custom-back-button" mat-raised-button color="primary" mat-button
                    matStepperNext>START</button>
            </div>
        </mat-step>
        <mat-step>
            <div class="hospital-form ">
                <h2 class="header-hospital">HOSPITAL REGISTRATION</h2>
                <form [formGroup]="hospitalForm" (ngSubmit)="onSubmit()" class="d-flex flex-column">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Hospital Name</mat-label>
                        <input matInput formControlName="hospitalName" placeholder="Enter hospital name">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Contact No</mat-label>
                        <input matInput formControlName="contactNo" placeholder="Enter contact number" type="tel">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Owner Name</mat-label>
                        <input matInput formControlName="ownerName" placeholder="Enter owner name">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Owner Contact No</mat-label>
                        <input matInput formControlName="ownerContactNo" placeholder="Enter owner's contact number"
                            type="tel">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Owner Email ID</mat-label>
                        <input matInput formControlName="ownerEmailId" placeholder="Enter owner's email" type="email">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>City</mat-label>
                        <input matInput formControlName="city" placeholder="Enter city">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Address</mat-label>
                        <textarea matInput formControlName="address" placeholder="Enter address"></textarea>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>User Name</mat-label>
                        <input matInput formControlName="userName" placeholder="Enter username">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="password" placeholder="Enter password" type="password">
                    </mat-form-field>

                    <div class="button-group d-flex justify-content-between">
                        <div>
                            <button mat-button type="button" (click)="onReset()" color="accent">Reset
                                all</button>
                            <button mat-raised-button color="primary" type="submit">Register</button>
                        </div>
                        <button mat-button matStepperPrevious>Back</button>
                    </div>
                </form>
            </div>
        </mat-step>
    </mat-stepper>