/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Applies to most browsers */
::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #e0e0e0; /* Light background color for the track */
  border-radius: 3px; /* Rounded edges for the track */
}

::-webkit-scrollbar-thumb {
  background-color: #a09a97; /* Darker color for the scrollbar thumb */
  border-radius: 3px; /* Rounded edges for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8e8580; /* Slightly darker color on hover */
}

/* Applies to Firefox */
* {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #a09a97 #e0e0e0; /* Thumb color and track color */
}

::-webkit-scrollbar-button {
  display: none;
}
